@import "/src/variables.scss";
@import "/src/styles.scss";
.mainWrapper  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  min-width: 95vw;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-width: 30vw;
  font-size: 2vw;

  * {
    margin: 5px;
  }

  .wlc {
    @include mainFont;
  }

  .enterNameTitle {
    color: $secondColor;
  }

  input {
    font-size: inherit;
    width: calc(90% - 3px);
    padding: 1px;
    border-width: 2px;
    border-color: $secondColor;
  }

  .warning {
    color: orangered;
    font-weight: bold;
    visibility: hidden;
    &.show {
      visibility: visible;
    }
  }

  @media (max-width: 1400px) {
    font-size: 3vw;
  }

}

